.calendar-container{
    border-style: solid;
    
    
}

.weekday-indicators {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-template-rows: 1;
    padding: 15px;
    border-style: solid;
    border-color:  #d27f78; 
    background-color: #d27f78; 
    color: white;
   
    
    
    .weekday-indicator-icon {
      height: 25px;
      width: 25px;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-weight: bold;
      cursor: pointer;
      &.active {
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .date-week-indicator{
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-gap: 1px;
    margin-top: 5px;
    margin-bottom: 5px;

    .date-week-icon {
      display: flex;
      justify-content: center;
      justify-self: center;
      align-items: center;
      height: 100px;
      width: 25px;
          
      cursor: pointer;
      &[data-active-month='false'] {
        color: rgba(0, 0, 0, 0.3);
      }
      &.active,
      &.selected {
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .date-indicator {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    grid-template-rows: repeat(6, minmax(35px, 1fr));
    grid-gap: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    .date-icon {
      display: flex;
      justify-content: center;
      justify-self: center;
      align-items: center;
      height: 100px;
      width: 25px;
          
      cursor: pointer;
      &[data-active-month='false'] {
        color: rgba(0, 0, 0, 0.3);
      }
      &.active,
      &.selected {
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      }
    }
  }