.password-toggle-icon{
    position: absolute;
    right: 20px;
    top: 118px;
    cursor: pointer;
}

.password-toggle-icon-register{
    position: absolute;
    right: 20px;
    top: 290px;
    cursor: pointer;

}