// #inviteButton{
// background-color: lightpink;
// border-color: lightsalmon;
// }

// #editButton{
// background-color: $info;
// border-color: lightsalmon;
// }

// #deleteButton{
// background-color: white;
// }

button{
background-color: white;
border-color: $info;
outline-color: lightpink;
}

button:hover{
background-color: lightpink;
}