.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.my-topbar{
  display: none;
}

.toogleSidebarButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  left: -4%;
  .icon {
    margin-right: -30px;
    font-size: 18px;
  }
  & {
    background: transparent;
    border-color: transparent;
    &:after {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      transform: rotate(45deg);
      background: #d27f78;
      border-radius: 5px;
    }
    &:hover,
    &:focus {
      background: transparent !important;
      border-color: transparent !important;
      text-decoration: none !important;
    }
  }
}

/* sidebar */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fbc5b8;
  color:#fff;
  margin-left: -250px;
  transition: all 0.5s;
}


.sidebar  .side-menu  ul  h3 {
  padding: 5%;
  text-align: center;
}

.sidebar  .side-menu  ul  .nav-link {
  padding: 10px 10px;
  display: block;
  color: white !important;  
  font-size: medium;  
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &:hover{
    color: #d27f78 !important;
  background: #fff;
  }
}

.sidebar  .side-menu  ul  .active{
  
  color: white !important;
  background:rgb(143, 84, 117) !important;
 
  
}


.sidebar-icon {
  color: #d27f78;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

/* content side */
.content {
  padding: 20px;
  margin-left: 0;
  min-height: 100vh;
  max-height: 100%;
  overflow: hidden;
}


@media(max-width: 900px) {

  .App {
    display: inline;
   
  }
  
  .sidebar{
    display: none;
    
  }

  .navbar-toggler{
    color: #fff !important;   
    &:hover{
      color: #d27f78 !important;
      background: #fff;
    }
  }

  .my-topbar  nav {
    background-color: #d27f78 !important;    
  }

  .navbar-nav .nav-item .nav-link {
    color: #fff;   
    &:hover{
      color: #d27f78 !important;
      background: #fff;
    }
  }

  .toogleSidebarButton{
    display: none;
  }
  
  .my-topbar{
    display: inline;
    
  }

  .toogleSidebarButton {
    width: 40px;
    height: 40px;
    left: -2%;

    

  }
}
