  .login-container{
      background-color: white;
      padding: 5% 10% 10% 10%;
  }

  .reg-container{
    background-color: white;
    padding: 2% 5% 5% 5%;
}
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .invite-card-body{
    border: 1px solid rgb(235, 220, 220) !important;
    padding: 5% 5% 0% 5%;
  }

  .invite-header{
    background-color: $info;
    color: white;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: 2%;
    margin-bottom: 0;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
  }

  .login-container{
    opacity: 0.9;
    border-radius: 25px;
  }

  .reg-container{
    opacity: 0.9;
    border-radius: 25px;
  }