$primary: #5990d3;
$info: #d27f78;
$lighterpink: #fbc5b8;
$secondary: #fbc5b8;
$blue: #3C69E7;
$green: #5AC18E;
$purple: #8A2BE2;
$yellow: #FFFF66;
$orange: #FFA500;
$red: #FF4040;
$pink: #F7347A;
$burgundy: #420420;
$turquoise: #008080;
$grey: #808080;
